body
  margin 10% //tabs with everyone you are chatting with and another with every contact you have
  @media screen and (max-width: 900px)
    margin 0%

.container
  background-color #0f0

.jumbotron
  background-color #f00