@import url("http://fonts.googleapis.com/css?family=Quicksand");
h1 {
  font-family: Quicksand !important;
  font-size: 70px !important;
}
.jumbotron {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent !important;
}
.register {
  margin-top: 40px;
}
input.span {
  display: block;
  font-family: Quicksand;
  font-size: 26px;
  border-radius: 0;
  margin: 3px auto;
  align-self: center;
  width: 55%;
}
@media screen and (max-width: 450px) {
  input.span {
    width: 90%;
  }
}
input {
  align-content: center;
}
input.btn {
  font-family: Quicksand;
  font-size: 23px;
  background-color: #ff5722;
  color: #fff;
  margin-top: 15px;
  width: 55%;
}
@media screen and (max-width: 450px) {
  input.btn {
    width: 90%;
  }
}
