@import url("http://fonts.googleapis.com/css?family=Quicksand");
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
header {
  font-family: Quicksand;
  font-size: 100px;
  padding: 0;
  margin: 30px;
}
#btnUser,
#btnFiles,
#btnGroups,
#btnUpload,
#btnLogin,
#btnMessage {
  color: #fff;
  font-size: 50px;
  padding: 20px;
  background: linear-gradient(#42a5f5, #1976d2);
  margin: 10px;
  border-radius: 10px;
}
#btnUser:hover,
#btnFiles:hover,
#btnGroups:hover,
#btnUpload:hover,
#btnLogin:hover,
#btnMessage:hover {
  background: linear-gradient(#1976d2, #42a5f5);
}
