@import url("http://fonts.googleapis.com/css?family=Roboto");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  padding: 30px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
btnblue {
  color: #fff;
  background: -webkit-linear-gradient(btnColor, btnDark);
  background: -moz-linear-gradient(btnColor, btnDark);
  background: -o-linear-gradient(btnColor, btnDark);
  background: -ms-linear-gradient(btnColor, btnDark);
  background: linear-gradient(btnColor, btnDark);
  margin: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid btnBorder;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial;
  font-style: normal;
  height: 30px;
  line-height: 30px;
  width: 100px;
  text-decoration: none;
  text-align: center;
}
btnblue:hover {
  background: -webkit-linear-gradient(btnDark, btnColor);
  background: -moz-linear-gradient(btnDark, btnColor);
  background: -o-linear-gradient(btnDark, btnColor);
  background: -ms-linear-gradient(btnDark, btnColor);
  background: linear-gradient(btnDark, btnColor);
}
h2 {
  margin: 0 0 0.5em 0;
}
header {
  font: 30px Roboto, sans-serif;
  color: #0d47a1;
  font-weight: 700;
  margin: 10px;
}
a {
  color: #00b7ff;
}
#wrapper {
  position: relative;
  top: 50%;
  left: 10%;
  margin-top: 0;
}
#listGroups table {
  border-collapse: separate;
  border-spacing: 1px;
  background: #1e88e5;
}
#listGroups table th {
  background: #42a5f5;
  font-weight: 600;
  padding: 10px 20px;
  text-align: center;
  color: #fdfdfd;
}
#listGroups table tbody {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
#listGroups table td {
  background: #f7f7f7;
  padding: 5px 10px;
  text-align: center;
}
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
