@import url('http://fonts.googleapis.com/css?family=Quicksand')
global-reset()
body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

btnColor=#42A5F5
btnDark=#1976D2

header
  font-family Quicksand
  font-size 100px
  padding 0
  margin 30px

#btnUser,
#btnFiles,
#btnGroups,
#btnUpload,
#btnLogin,
#btnMessage
  color:#fff
  font-size 50px
  padding 20px
  background linear-gradient(btnColor,btnDark)
  margin 10px
  border-radius 10px
  &:hover
    background linear-gradient(btnDark,btnColor)