extends base
block pageContent

    // Wrapper
    #wrapper
        header Chatservice
        a(class='waves-effect waves-light btn')#btnTools Tools
        a(class='waves-effect waves-light btn')#btnLogin Login
    // /WRAPPER
