extends base
block headerContent
  title Login
  link(rel="stylesheet", href="stylesheets/login.css")
block pageContent
  .container(class="text-center")
    .jumbotron(class="text-center")
      h1 Login
      .login
        form.form-vertical(method="post", id="loginForm", class="text-center")
          input.span(id="number", type="text", name="Number", placeholder="Phonenumber")
          input.span(id="password", type="password", name="Password", placeholder="Password")
          input.btn(type="submit", value="Log In" class="btn-material-deep-orange")
      a(href="/register") Or Register?
