doctype html
html(lang='en')
  head
    block headerContent

    link(rel='stylesheet', href='/stylesheets/tools.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')

    script(src='/javascripts/simple.js')
    script(src='/javscripts/bootstrap.min.js')
    script(src='/jaascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/materialize.min.js')

    //set statusbar color to dark light blue
    meta(name='theme-color' content='#0288D1')
  body
    nav
      .nav-wrapper(class='light-blue')
        a.brand-logo(href='/tools') Tools

        a.button-collapse(data-activates='mobile-nav')
          i.mdi-navigation-menu
        ul(class='right hide-on-med-and-down')
          block navbarItems
        ul.side-nav#mobile-nav
          li
            a.navbar-link(href='/tools') Tools
          block navbarItems
    block pageContent