extends layoutGroups
block content

    // Wrapper
    #wrapper
    
        // LIST
        header Gruppen
        #listGroups
            table
                thead
                    th _id
                    th name
                    th members
                    th a
                    th b
                    th c
                    th d
                    th delete?
                tbody
        // /LIST

        // REGISTER USER
        header Create Group
        #createGroup
            fieldset
                input#inputMemberOne(type='text', placeholder='id')
                input#inputName(type='text', placeholder='Name')
                br
                input#inputMemberTwo(type='text', placeholder='id')
                br
                input#inputMemberThree(type='text', placeholder='id')
                br
                btnblue#btnCreateGroup Create Group
        // /REGISTER USER

        header Add Member
        #addMember
            fieldset
                input#inputMember(type='text', placeholder='Phonenumber of member')
                input#inputGroupID(type='text', placeholder='GroupID')
                br
                br
                btnblue#btnAddMember Add Member
        // /REGISTER USER
    // /Wrapper