extends layout
block content

    // Wrapper
    #wrapper
    
        // LIST
        header Benutzer
        #list
            table
                thead
                    th _id
                    th phoneNumber
                    th GCMCode
                    th DigitCode
                    th lastTimeActive
                    th status
                    th delete?
                tbody
        // /LIST

        // STATISTICS
        header Statistics
        #listStatistics
            table
                thead
                    th idOwner
                    th _id
                    th accountCreated
                    th MessagesRecieved
                    th MessagesSend
                tbody
        // /STATISTICS

        // INFO
        header Nachrichten
        #listInfo
            table
                thead
                    th ID
                    th MessageID
                    th Sender
                    th Empfänger
                    th ReceiverGCM
                    th Text
                    th Timestamp
                    th gelesen
                    th delete?
                tbody
        // /INFO

        // UPDATE DATA
        header Send Data
        #sendData
            fieldset
                input#inputMessageID(type='text', placeholder='MessageID')
                input#inputSender(type='text', placeholder='Handynummer Sender')
                input#inputreceiver(type='text', placeholder='Handynummer Empfänger')
                input#inputData(type='text', placeholder='Text')
                br
                btnblue#btnSendData Send Data
        // /UPDATE DATA 

        // REGISTER USER
        header Register User
        #registerUser
            fieldset
                input#inputNumber(type='text', placeholder='Handynummer')
                input#inputGCM(type='text', placeholder='GCMCode')
                input#inputDigit(type='text', placeholder='DigitCode')
                br
                btnblue#btnRegisterUser Register User
        // /REGISTER USER

        // GET DATA
        header Get Data
        #getData
            fieldset
                input#inputNumber(type='text', placeholder='Handynummer')
                br
                btnblue#btnGetData Get Data
        // /GET DATA
        // GET DATA SENDED		
        header Get Data Sended
        #getDataSended
            fieldset
                input#inputNumber(type='text', placeholder='Handynummer')
                br
                btnblue#btnGetDataSended Get Data
                br
                br
                btnblue#btnUpdateServer Update
        // /GET DATA
    // /WRAPPER
