doctype html
html
  head
    title Login
    link(rel='stylesheet', href='/stylesheets/styleLogin.css')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/globalUser.js')