extends layout
block content

    // Wrapper
    #wrapper

    // LOGIN USER
        header LOGIN
        #loginUser
            fieldset
                input#inputAccount(type='text', placeholder='Account')
                input#inputPassword(type='text', placeholder='Password')
                br
                btnblue#btnLoginUser LOGIN
        // /REGISTER USER