//
   Created by Nicolas on 29/12/2014.
   //TODO design login website
extends layout
block content
   // Wrapper
   #wrapper
      header Chatservice
      btnblue#btnUser User
      btnblue#btnGroups Groups
      btnblue#btnMessage Message
   // /WRAPPER