extends layoutLogin
block pageContent
  form
    Phonenumber: input(id='number', type='tel', placeholder='Phonenumber', autofocus='true', class='form-control floating-label')
    Password: input(id='password', type='password', placeholder='Password')
    
  btnblue#btnLogin Login