extends layoutLogin
block content
    Phonenumber: input(id='number', type='tel', placeholder='Phonenumber', autofocus='true', class='form-control floating-label')
    Password: input(id='password', type='password', placeholder='Password')
<<<<<<< HEAD
    
    btnblue#btnLogin Login
=======

  btnblue#btnLogin Login
>>>>>>> origin/master
