doctype html
html
  head
    title Register
    link(rel='stylesheet', href='/stylesheets/registerstyle.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
  body
    block pageContent
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/javascripts/globalUser.js')
  script(src='/bootstrap/js/bootstrap.min.js')