extends layoutUser
block content
    // Wrapper
    #wrapper
    
        // LIST
        header Benutzer
        #list
            table
                thead
                    th _id
                    th phoneNumber
                    th eMail
                    th GCMCode
                    th DigitCode
                    th lastTimeActive
                    th status
                    th delete?
                tbody
        // /LIST

        // STATISTICS
        header Statistics
        #listStatistics
            table
                thead
                    th idOwner
                    th _id
                    th accountCreated
                    th MessagesRecieved
                    th MessagesSend
                tbody
        // /STATISTICS

        // REGISTER USER
        header Register User
        #registerUser
            fieldset
                input#inputNumber(type='text', placeholder='Handynummer')
                input#inputGCM(type='text', placeholder='GCMCode')
                input#inputDigit(type='text', placeholder='DigitCode')
                input#inputEMail(type='text', placeholder='Email')
                br
                btnblue#btnRegisterUser Register User
        // /REGISTER USER

        header Change User Data
        #changeUserData
            fieldset
                input#inputID(type='text', placeholder='ID')
                btnblue#btnChangeUserID Change
                br
                input#inputPhoneNumber(type='text', placeholder='Handynummer')
                btnblue#btnChangeUserPhoneNumber Change
                br
                input#inputGCMCode(type='text', placeholder='GCMCode')
                btnblue#btnChangeUserGCMCode Change
                br
                input#inputDigitCode(type='text', placeholder='DigitCode')
                btnblue#btnChangeUserDigitCode Change
                br
                input#inputEMail(type='text', placeholder='Email')
                btnblue#btnChangeUserEMail Change
    // /WRAPPER